:root {
  --red: #AD343E;
  --yellow: #F2AF29;
  --midgrey: #363636;
  --lightgrey: #e5e5e5;
  --grey: #C0C0C0;
  --black: #000;
  --darkgrey: #121212;
  --darkgrey2: #242424;
  --white: #fff;
  --border-radius: 0.33rem;
}

/* Reset */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6,p,ul,ol {
  margin: 0;
}

a {
  color: inherit;
}

/* End reset */

html {
  font-size: 18px;
}

html,
body {
  color: var(--white);
  background-color: var(--darkgrey);
  font-family: 'PT Serif', Georgia, serif;
}

body {
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 4.209rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

h2 {
  margin-bottom: 1.66rem;
  font-size: 2.125rem;
}

p + h2,
ul + h2,
ol + h2 {
  margin-top: 2.33rem;
}

p + h3,
ul + h3,
ol + h3 {
  margin-top: 2rem;
}

.page-heading {
  margin-bottom: 0rem;
  padding: 3rem 1rem;
  font-size: 2.3rem;
  font-size: 2.8rem;
  color: #fff;
  background: var(--midgrey);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  line-height: 1.2;
  text-shadow: 2px 4px rgba(0,0,0,0.2);
}

.direct-link {
  position: absolute;
  background: url(../img/link.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  text-indent: -9999px;
  height: 1rem;
  width: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -1.5rem;
  opacity: 0;
}

h2:hover .direct-link,
h3:hover .direct-link,
h4:hover .direct-link {
  opacity: 0.7;
}

.direct-link:hover,
.direct-link:focus {
  opacity: 0.7;
}

.article h2,
.article h3,
.article h4 {
  line-height: 1.25;
}

.article {
  color: var(--darkgrey2);
  font-size: 1.05rem;
  max-width: 960px;
  margin: 0 auto;
  line-height: 1.55;
}

.article__body {
  padding: 2rem 4rem 3rem;
  background-color: var(--lightgrey);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.article a {
  color: var(--red);
  font-weight: bold;
}

.article a:hover {
  text-decoration: none;
}

.article h3 {
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--midgrey);
}

.article h4 {
  font-size: 1.777rem;
}

.article h1, .article h2, .article h3, .article h4 {
  position: relative;
}


.article p {
  margin-bottom: 1rem;
}

.article ul {
  margin-bottom: 1.5rem;
}

.article ul ul {
  margin-top: 0.5rem;
}

.article li {
  margin-bottom: 0.66rem;
}

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: 'Open Sans Condensed', sans-serif;
}

.nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  text-decoration: none;
}

.nav li:not(:last-child) {
  margin-right: 1.5rem;
}

.container {
  max-width: 88rem; /* Roughly 1600px */
  margin: 0 auto;
  padding: 0 1rem;
}

.container--narrow {
  max-width: 44rem;
}

.posts {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  list-style: none;
}

.posts__item {
  padding: 1.5rem;
  position: relative;
  border-radius: var(--border-radius);
  background-color: var(--midgrey);
  min-height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.posts__item__link:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.posts__item__link {
  text-decoration: none;
}

.posts__item__title {
  font-size: 2.3rem;
  line-height: 1.25;
  margin-bottom: 0;
  text-transform: uppercase;
  text-shadow: 2px 4px rgba(0,0,0,0.2);
}

.logo {
  margin: 0;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  padding-right: 0.5rem;
  border: solid 2px #fff;
}

.logo span {
  font-style: italic;
  display: inline-block;
  background: #121212;
  color: #fff;
  padding: 0.5rem 0.7rem;
  margin-right: 0.5rem;
}

.home a {
  text-decoration: none;
}

.site-footer {
  text-align: center;
  font-size: 0.8rem;
  color: var(--grey);
  line-height: 1.55;
  padding: 3rem 0;
}
