---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
renderData:
  title: {{ tag }}
permalink: /{{ tag }}/
---
<h1>{{ tag | removeHyphens }}</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}
