<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="site-header">
      <a class="logo" href="{{ '/' | url }}">
        <span>#BLM</span>Resources
      </a>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer class="site-footer">
      <div class="container container--narrow">
        <p><b>Disclaimer: </b>We're a white couple in the UK trying to educate ourselves and become actively antiracist. This site is a place for us to keep track of the resources we've found, and we're making it publicly accessible in the hopes that others might find it useful. However, this is by no means an exhaustive or authoritative list. If you have any feedback, please <a href="mailto:hashtagblmresources@gmail.com">email us</a>.</p>
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
