---
layout: layouts/base.njk
templateClass: tmpl-home
title: Home
---
<div class="container">
  <h1 class="page-heading">Becoming antiracist</h1>
  <p class="intro-text">In working to become actively antiracist, we've found many amazing resources on the internet and especially on social media. Finding it hard to keep track of them, we created this site as a personal repository, and we're making it publicly accessible in case others find it useful.</p>
  {{ content | safe }}
</div>
