---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div class="container">
  <h1 class="page-heading">Page heading</h1>
  <p class="intro-text">We're a white couple in the UK trying to educate ourselves and become actively antiracist. This site is a place for us to collate the resources we've found, and we're making it publicly accessible in case others find it useful.</p>
  {{ content | safe }}
</div>
