---
layout: layouts/base.njk
templateClass: tmpl-home
title: Home
---
<div class="container">
  <h1 class="page-heading">From "neutral" to antiracist</h1>
  <p class="intro-text">To be neutral in situations of injustice is to side with the oppressor. We're working to become actively <em>antiracist</em>. This site is a repository of resources we've found helpful, and we've made it publicly accessible in case others find it useful too.</p>
  {{ content | safe }}
</div>
