---
layout: layouts/base.njk
templateClass: tmpl-post
---


<div class="container">
  <article class="article">
    <header>
      <h1 class="page-heading">{{ title }}</h1>
    </header>
    <div class="article__body">
      {{ content | safe }}
    </div>
  </article>
</div>