---
layout: layouts/base.njk
templateClass: tmpl-post
---


<div class="container">
  <article class="article">
    <h1 class="page-heading">{{ title }}</h1>
    {{ content | safe }}

  </article>
</div>